@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Загрузка изовбражения";
}

<div>
    @using (Html.BeginForm("LoadPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Добавить изображение</legend>

            <div class="editor-label">Файл изображения</div>
            <div class="editor-field">
                <input type="file" name="uploadImage" accept="image/*" />
            </div>

            <p>
                <input type="submit" value="Загрузить" />
            </p>
        </fieldset>
    }
</div>
