@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Загрузка изовбражения";
}

<div>
    @using (Html.BeginForm("LoadPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Добавить изображение</legend>

            <div class="editor-label">Название</div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">Файл изображения</div>
            <div class="editor-field">
                <input type="file" name="uploadImage" />
            </div>

            <p>
                <input type="submit" value="Добавить" />
            </p>
        </fieldset>
    }
</div>
