@{
    ViewBag.Title = "Мои диалоги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <input id="nameFilter" name="nameFilter" placeholder="ФИО"/>
    <hr/>

    <div id="all-dialogs" class="col-md-12">
        
    </div>

    <script src="~/Scripts/Home/Dialogs/myDialogs.js"></script>
</div>
