@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <ul class="nav nav-pills">
        <li class="active" id="all-friends"><a>Мои друзья</a></li>
        <li id="requests"><a>Запросы на добавление в друзья</a></li>
        <li id="my-requests"><a>Мои заявки</a></li>
    </ul>
    <input name="nameFilter" placeholder="ФИО"/>
    <hr/>

    <div id="my-friends" class="col-md-12">

    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Home/Friends/myFriends.js?345"></script>
</div>