@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <input name="nameFilter" placeholder="ФИО"/>
    <hr/>

    <div id="all-users" class="col-md-12">
        
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Home/AllUsers/allUsers.js?852"></script>
</div>


