@{
    ViewBag.Title = "Мои друзья";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <ul class="nav nav-pills">
        <li class="active" id="all-friends"><a>Мои друзья</a></li>
        <li id="requests"><a>Запросы на добавление в друзья</a></li>
        <li id="my-requests"><a>Мои заявки</a></li>
    </ul>
    <div class="col-md-12" style="margin-top: 10px;">
        <input name="nameFilter" id="nameFilter" placeholder="ФИО" />
        <label for="startAge">Возраст</label>
        <label for="startAge">От</label>
        <select id="startAge" class="selectpicker show-tick"></select>

        <label for="endAge">До</label>
        <select id="endAge" class="selectpicker show-tick"></select>
    </div>
    <hr/>

    <div id="my-friends" class="col-md-12">

    </div>

    <script src="~/Scripts/Home/Friends/myFriends.js?645"></script>
</div>

@section SignalR {
    <input type="hidden" id="user-id" value="@ViewBag.UserId" />
    <script src="~/Scripts/SignalR/SNSignalR.js"></script>
}