@{
    ViewBag.Title = "Мои диалоги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <input id="nameFilter" name="nameFilter" placeholder="ФИО"/>
    <hr/>

    <div id="all-dialogs" class="col-md-12">
        
    </div>

    <script src="~/Scripts/Home/Dialogs/myDialogs.js?325"></script>
</div>

@section SignalR {
    <input type="hidden" id="user-id" value="@ViewBag.UserId" />
    <script src="~/Scripts/SignalR/SNSignalR.js"></script>
}
