@{
    ViewBag.Title = "Диалог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in ViewBag.Users)
{
    <input class="users" type="hidden" value="@item" />
}
<div class="col-md-12 messages" id="messages"></div>
<div class="col-md-12">
    <p>Введите сообщение</p>
</div>
<div class="col-md-12 row">
    <textarea id="text-message" class="col-md-9" maxlength="8000" rows="3" style="min-width: 70%; max-height: 70px;"></textarea>
    <input type="button" id="send" class="btn btn-default col-md-3" style="margin-top: 20px; margin-left: 3%" value="Отправить" />

    <script src="~/Scripts/Home/Dialogs/dialog.js?268"></script>
</div>

@section SignalR {
    <input type="hidden" id="user-id" value="@ViewBag.UserId" />
    <script src="~/Scripts/SignalR/SNDialogSignalR.js?548"></script>
}
