.row {
    margin-right: 0;
    margin-left: 0;
}

.main {
    margin: auto;
}

.top-container {
    background-color: rgba(0, 0, 255, 0.5);
    height: 100%;
}

.top-container p {
    line-height: 70px;
}

.middle-container {
    height: 700px;
    margin-top: 2%;
    margin-left: 16.666666%;
}

.bottom-container {
    background-color: rgba(128, 128, 128, 0.5);
    clear: both;
}

.main-photo {
    min-height: 150px;
}
