<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd" autoReload="true">
  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File" fileName="${basedir}/Logs/Log_${date:format=yyyy-MM-dd}.txt"
        layout="${level:padding=5}|${threadid:padding=3}|${time:format=HH:mm:ss}: ${message}"
        archiveEvery="Day" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
  </rules>
</nlog>
